@media only screen and (min-width: 1140px){
    
    /*=========== TOP BAR ===========*/
    
    #colorbar{
    
        height: .5em;
    }

    /*=========== WRAPPER CONTENT ===========*/
    
    header, nav, .row, footer{
    
        max-width: 1140px;
        margin: 0 auto;
    }
    
    /*=========== HEADER ===========*/
    
    header{
        
        padding-top: 2em;
        padding-bottom: 1em;
    }
    
    /*=========== BANNER ===========*/

    #banner{

        background-image: url("../photos/banner-desktop.jpg");
        height: 500px;
        background-position: center;
    }
    
    /*=========== NAV ===========*/
    
    #navWrapper{
    
        background-color: #e22121;
    }
    
    nav ul{
    
        margin-left: 2%;
        border-left: 1px solid rgba(255,255,255,0.3);
    }
    
    nav ul li{
    
        float: left;
    }
    
    nav ul li a{
        
        display: block;
        font-size: .9em;
        text-decoration: none;
        color: #fff;
        padding: .7em .9em;
        border-right: 1px solid rgba(255,255,255,0.3);
        transition: background .3s linear;
    }
    
    nav ul li a:hover{
        
        background-color: rgba(0,0,0,0.1);
    }
    
    nav ul li.active a{
    
        background-color: rgba(0,0,0,0.3);
    }
    
    nav ul li ul{
        
        z-index: 99;
        position: absolute;
        margin: 0;
        left: -999em;
        width: 10em;
        background-color: #b00;
    }
    
    nav ul li ul li{
        
        float: none;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-right: none;
    }
    
    nav li:hover ul{
        
        left: auto;
    }
    
    /*=========== COLUMN ===========*/
    
    .column-2{
        
        width: 16.666%;
    }
}