@media only screen and (min-width: 641px){
    
    /*=========== BANNER ===========*/

    #banner{

        background-image: url("../photos/banner-tablet.jpg");
        height: 496px;
    }
    
    /*=========== COLUMN ===========*/
    
    .column-6, .column-4, .column-3{

        float: left;
    }
    
    .column-2{
        
        width: 33.333%;
    }
    
    .column-3{
        
        width: 25%;
    }
    
    .column-4{
        
        width: 33.333%;
    }

    .column-6{
        
        width: 50%;
    }
    
    /*=========== FIGURE ===========*/

    figure.col4{

        width: 31.333%;
    }
}